@inherits Components.VxFormRowComponent

<div>
    <label>@FormRowDefinition.Name</label>
    <div>

        @foreach (var column in FormRowDefinition.Columns)
        {
           <VxFormColumn FormColumnDefinition="@column"></VxFormColumn>
        }
    </div>
</div>
