@inherits VxFormGenerator.Core.Components.VxFormGroupComponent

<div>
    <label>@FormGroupDefinition.Label</label>
    <div>

        @foreach (var row in FormGroupDefinition.Rows)
        {
            <VxFormRow FormRowDefinition="@row"></VxFormRow>
        }
    </div>
</div>
