@inherits VxFormGenerator.Render.Bootstrap.VxBootstrapFormGroupComponent

<div>
    <label>@FormGroupDefinition.Label</label>
    <div>

        @foreach (var row in FormGroupDefinition.Rows)
        {
            <VxBootstrapFormRow FormRowDefinition="@row">

            </VxBootstrapFormRow>
        }
    </div>
</div>
