@inherits VxFormGenerator.Render.Bootstrap.VxBootstrapFormRowComponent

<div>
    @if (FormRowDefinition.Name != null)
    {
        <label>@FormRowDefinition.Name</label>
    }

    <div class="form-row">

        @foreach (var column in FormRowDefinition.Columns)
        {
            <VxFormGenerator.Components.Bootstrap.Render.VxBootstrapFormColumn FormColumnDefinition="@column">

            </VxFormGenerator.Components.Bootstrap.Render.VxBootstrapFormColumn>
        }
    </div>
</div>
